.main_div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sub_div {
  margin: auto;
  margin-top: 15%;
  width: 30%;
  text-align: center;
  background-color: white;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}

.title {
  text-align: left;
  margin-top: 20px;
  margin-left: 25px;
}

.input_txt {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 85%;
  height: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 20px;
}

.submit_btn {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 85%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid silver;
}
